<template lang="pug">
  b-modal#addModal(
    ref="addModal"
    hide-header
    hide-footer
    centered
  )
    .add-modal
      h3.add-modal-title Add new user

      b-form.add-modal-form(@submit.prevent="add()")
        .add-modal-avatar         
          //- .custom-file-input
          b-form-group.w-100.d-flex.flex-column.align-items-center.justify-content-center
            b-form-row.m-0
              .avatar-wrapper
                b-avatar.profile_pic(
                  v-if="newUser.avatar"
                  :src="newUser.avatar"
                  variant="light"
                  style="width: 100%; height: 100%;"                  
                )
                b-avatar.profile_pic(
                  variant="warning"
                  v-else
                  style="width: 100%; height: 100%;"
                )
                //- https://codepen.io/gdev/pen/bKdjpa

                //- b-form-file.custom-file-input.upload-button(
                //-   plain
                //-   ref="avatar"
                //-   accept=".jpg, .jpeg, .png"
                //-   v-model="newUser.avatar"
                //-   @change="onFileChange($event)"
                //- )

                input.custom-file-input.upload-button(
                  ref="avatar"
                  type="file"                
                  accept=".jpg, .jpeg, .png"
                  @change="onFileChange($event)"
                )

          b-form-group.w-100
            b-form-row.m-0
              b-col.m-0.p-0
                label.add-modal-form-label(for="input-live") Email:  
                b-form-input(
                  id="input-live"
                  v-model="newUser.email"
                  :state="emailState"
                  aria-describedby="input-live-feedback"
                  placeholder="Enter first name"
                  trim
                  :required="true"
                )            
                //- This will only be shown if the preceding input has an invalid state
                b-form-invalid-feedback(id="input-live-feedback") Enter at least 3 letters

          b-form-group.w-100
            b-form-row.m-0.flex-nowrap
              b-col.p-0.m-0.mr-3
                label.add-modal-form-label(for="input-live") First name:  
                b-form-input(
                  id="input-live"
                  v-model="newUser.first_name"
                  :state="firstNameState"
                  aria-describedby="input-live-feedback"
                  placeholder="Enter first name"
                  trim
                  :required="true"
                )            
                //- This will only be shown if the preceding input has an invalid state
                b-form-invalid-feedback(id="input-live-feedback") Enter at least 3 letters

              b-col.p-0.m-0
                label.add-modal-form-label(for="input-live") Last name:  
                b-form-input(
                  id="input-live"
                  v-model="newUser.last_name"
                  :state="lastNameState"
                  aria-describedby="input-live-feedback"
                  placeholder="Enter last name"
                  trim
                  :required="true"
                )            
                //- This will only be shown if the preceding input has an invalid state
                b-form-invalid-feedback(id="input-live-feedback") Enter at least 3 letters

          b-btn-group.w-100.m-0.mt-3.d-flex.justify-content-center.align-items-center
              b-button(fluid pill variant="primary" type="submit") Save
              b-button.ml-3(fluid pill variant="secondary" @click="close") Close
            
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  export default {
    name: 'addModal',
    data: () => ({
      newUser: {
        id: null,
        avatar: null,
        first_name: '',
        last_name: '',
        email: ''
      }
    }),
    computed: {
      ...mapGetters([
        'users'
      ]),
      firstNameState(){
        return this.newUser.first_name.length > 2 ? true : false
      },
      lastNameState(){
        return this.newUser.last_name.length > 2 ? true : false
      },
      emailState(){
        return this.newUser.email.length > 2 ? true : false
      }
    },
    methods: {
      ...mapActions([
        'addUserNote'
      ]),
      onFileChange(e) {
        let files = e.target.files || e.dataTransfer.files;
        if (!files.length) return;
        this.createImage(files[0]);
      },
      createImage(file) {
        let image = new Image();
        let reader = new FileReader();
        reader.onload = (e) => {
          this.newUser.avatar = e.target.result;
        };
        reader.readAsDataURL(file);
      },
      clearInputs(){
        this.newUser = {
          id: null,
          email: '',
          first_name: '',
          last_name: '',          
          avatar: null,
        }
      },
      open(){
        this.$refs.addModal.show();
      },
      close(){
        this.clearInputs();
        this.$refs.addModal.hide();
      },
      add(){          
        let randomId = `f${(+new Date).toString(16)}`;
        const newUserData = {
          id: randomId,
          email: this.newUser.email,
          first_name: this.newUser.first_name,
          last_name: this.newUser.last_name,          
          avatar: this.newUser.avatar ? this.newUser.avatar : require('../../assets/images/avatar_default.png')
        }
        this.addUserNote(newUserData);
        this.close();
        this.$router.push({
          name: 'User',
          params: {
            id: newUserData.id,
            user: newUserData
          }
        });
        //this.$router.push({ path: '/users/' + newUserData.id });
      },
    },
  }
</script>

<style lang="scss" scoped>
  .add {
    &-modal {
      &-avatar{
        display: flex;
        align-items: flex-start;
        flex-flow: column;
      }
      &-title {
        font-size: 1.2em;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        text-transform: uppercase;
      }
      &-form {
        &-label {
          text-transform: uppercase;
          font-size: 1em;
          color: #aaaaaa;
        }
      }
    }
  }
</style>