<template lang="pug">
    b-modal#deleteModal(
      v-model="deleteIsOpen"
      ref="confirmModal"
      hide-header
      hide-footer
      centered
    )
      .delete-modal
        .delete-modal-inner
          h3.delete-modal-title.text-danger Delete this user?
          .d-flex.justify-content-center.align-items-center.m-0.border.rounded-pill.p-4
            b-avatar(
              size="4em" :src="user.avatar ? user.avatar : require('../../assets/images/avatar_default.png')"
            )
            div.ml-2
              h4.delete-modal-user-fullname.text-uppercase.m-0 {{ fullName }}
              h6.delete-modal-user-email.text-muted.m-0 {{ user.email }}
          b-btn-group.w-100.m-0.mt-3.d-flex.justify-content-center.align-items-center
            b-button(fluid pill variant="primary" @click="deleteUser(user)") Delete
            b-button.ml-3(fluid pill variant="secondary" @click="close") Close

</template>

<script>
  import { mapActions, mapGetters } from 'vuex';
  export default {
    name: 'deleteModal',
    props: {
      deleteIsOpen: {
        type: Boolean,
        required: true
      }
    },
    data: () => ({
      user: {}
    }),
    computed: {
      ...mapGetters([
        'deleteModalPayload'
      ]),
      fullName(){
        return this.user.first_name + ' ' + this.user.last_name;
      }
    },
    methods: {
      ...mapActions([
        'deleteUserNote',
        'changeStateDeleteModal'
      ]),
      deleteUser(user){
        this.deleteUserNote(user);
        this.changeStateDeleteModal(false);
        if(this.$router.history.current.path !== '/users') {
          console.log('this.$router.history.current.path', this.$router.history.current.path, this.$router.history.current.path !== '/users');
          this.$router.push({ path: '/users'});
        }
      },
      close(){
        this.changeStateDeleteModal(false);
      },
    },
    created(){
      this.user = this.deleteModalPayload;
    }
  }
</script>

<style lang="scss" scoped>
  .delete {
    &-modal {
      &-user {
        &-fullname {
          font-size: 1.2em;
          font-weight: 500;
        }
        &-email {
          font-size: 1.1em;
          font-weight: 300;
        }
      }
      &-avatar{
        display: flex;
        align-items: flex-start;
        flex-flow: column;
      }
      &-title {
        font-size: 1.2em;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
</style>