<template lang="pug">
    b-modal#editModal(
      v-model="editIsOpen"
      ref="editModal"
      hide-header
      hide-footer
      centered
    )
      .edit-modal
        h3.edit-modal-title Edit user data

        b-form.edit-modal-form(@submit.prevent="save()")
          .edit-modal-avatar
            //- .custom-file-input
            b-form-group.w-100.d-flex.flex-column.align-items-center.justify-content-center
              b-form-row.m-0
                .avatar-wrapper
                  b-avatar.profile_pic(
                    v-if="userPayload.avatar"
                    :src="userPayload.avatar"
                    variant="light"
                    style="width: 100%; height: 100%;"                 
                  )
                  b-avatar.profile_pic(
                    variant="warning"
                    v-else
                    style="width: 100%; height: 100%;"
                  )
                  input.custom-file-input.upload-button(
                    ref="avatar"
                    type="file"                
                    accept=".jpg, .jpeg, .png"
                    @change="onFileChange($event)"
                  )

            b-form-group.w-100
              b-form-row.m-0
                b-col.m-0.p-0
                  label.edit-modal-form-label(for="input-live") Email:  
                  b-form-input(
                    id="input-live"
                    v-model="userPayload.email"
                    aria-describedby="input-live-feedback"
                    placeholder="Enter first name"
                    trim
                    :required="true"
                  )            
                  //- This will only be shown if the preceding input has an invalid state
                  b-form-invalid-feedback(id="input-live-feedback") Enter at least 3 letters

            b-form-group.w-100
              b-form-row.m-0.flex-nowrap
                b-col.p-0.m-0.mr-3
                  label.edit-modal-form-label(for="input-live") First name:  
                  b-form-input(
                    id="input-live"
                    v-model="userPayload.first_name"
                    aria-describedby="input-live-feedback"
                    placeholder="Enter first name"
                    trim
                    :required="true"
                  )            
                  //- This will only be shown if the preceding input has an invalid state
                  b-form-invalid-feedback(id="input-live-feedback") Enter at least 3 letters

                b-col.p-0.m-0
                  label.edit-modal-form-label(for="input-live") Last name:  
                  b-form-input(
                    id="input-live"
                    v-model="userPayload.last_name"
                    aria-describedby="input-live-feedback"
                    placeholder="Enter last name"
                    trim
                    :required="true"
                  )            
                  //- This will only be shown if the preceding input has an invalid state
                  b-form-invalid-feedback(id="input-live-feedback") Enter at least 3 letters

            b-btn-group.w-100.m-0.mt-3.d-flex.justify-content-center.align-items-center
                b-button(fluid pill variant="primary" type="submit") Save
                b-button.ml-3(fluid pill variant="secondary" @click="close") Close
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';

  export default {
    name: 'editModal',
    props: {
      editIsOpen: {
        type: Boolean,
        required: true
      }
    },
    computed: {
      ...mapGetters([
        'editModalPayload'
      ]),
    },
    data: () => ({
      userPayload: {
        id: null,
        email: '',
        first_name: '',
        last_name: '',
        avatar: null
      }
    }),
    methods: {
      ...mapActions([
        'changeStateEditModal',
        'changeUserNote'
      ]),
      onFileChange(e) {
        let files = e.target.files || e.dataTransfer.files;
        if (!files.length) return;
        this.createImage(files[0]);
      },
      createImage(file) {
        let image = new Image();
        let reader = new FileReader();
        reader.onload = (e) => {
          this.userPayload.avatar = e.target.result;
        };
        reader.readAsDataURL(file);
      },
      clearInputs(){
        this.userPayload = {
          id: null,
          email: '',
          first_name: '',
          last_name: '',          
          avatar: null,
        }
      },
      save(){        
        const editedUser = {
          id: this.userPayload.id,
          email: this.userPayload.email,
          first_name: this.userPayload.first_name,
          last_name: this.userPayload.last_name,          
          avatar: this.userPayload.avatar ? this.userPayload.avatar : require('../../assets/images/avatar_default.png')
        }
        this.changeUserNote(editedUser);
        this.close();
      },
      close(){
        this.changeStateEditModal(false);
        this.clearInputs();
      },
    },
    created(){
      this.userPayload = this.editModalPayload;      
    }
  }
</script>

<style lang="scss" scoped>
  .edit {
    &-modal {
      &-avatar{
        display: flex;
        align-items: flex-start;
        flex-flow: column;
      }
      &-title {
        font-size: 1.2em;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        text-transform: uppercase;
      }
      &-form {
        &-label {
          text-transform: uppercase;
          font-size: 1em;
          color: #aaaaaa;
        }
      }
    }
  }
</style>