<template lang="pug">
  .home.shadow.mb-5
    .container.p-0
      Setup
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';
  import Setup from '../components/Setup.vue';
  export default {
    name: 'Home',
    components: { Setup },
    methods: {
      ...mapActions([
        'initData'
      ])
    },
    created(){
      //this.initData();   
    }
  }
</script>

<style lang="scss" scoped>
  .home {
    background-color: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 0.5em;
  }
</style>
