<template lang="pug">
  .users.container
    .users-actions
      b-button.d-flex.justify-content-center.align-items-center.rounded-pill.shadow.mr-2.px-5.py-3(          
        @click="addUser"
        variant="primary"
      )
        b-icon(class="mr-3" icon="file-plus" scale="1.5" shift-v="1.5" aria-hidden="true")
        span.h-100 Add user

      div.d-flex.justify-content-center.align-items-center
        b-button.d-flex.justify-content-center.align-items-center.rounded-pill.shadow.mr-2.px-5.py-3.align-self-start(
          :disabled="users.length > 0"
          @click="addFakeTemplateUsers"
          variant="info"
        ) 
          b-icon(class="mr-3" icon="cloud-download" scale="1.5" shift-v="1.5" aria-hidden="true")
          span.h-100 Add fake users

        b-button.d-flex.justify-content-center.align-items-center.rounded-pill.shadow.px-5.py-3(
          :disabled="users.length < 1"
          @click="deleteAllNotes"
          variant="danger"
        ) 
          b-icon(class="mr-3" icon="trash" scale="1.5" shift-v="1.5" aria-hidden="true")
          span.h-100 Destroy data
    hr
    .users-inner
      vPagination(
        ref="vuePagination" 
        v-if="users" 
        :users="users"
      )  

    addModal(ref="addModal")   
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import addModal from '../components/modals/addModal.vue';
  import vPagination from '../components/vPagination.vue';

  export default {
    name: 'Users',
    components: {
      vPagination,
      addModal
    },
    computed: {
      ...mapGetters([
        'users'
      ]),
    },
    methods: {
      ...mapActions([
        'initData', 
        'addUserNote', 
        'addFakeUsers', 
        'deleteAllNotes'
      ]),
      addFakeTemplateUsers(){
        this.addFakeUsers();
        this.$refs.vuePagination.loadEff();
      },
      addUser(){
        this.$refs.addModal.open();
      }
    },
    created(){
      this.initData();   
    }
  }
</script>

<style lang="scss" scoped>
  .users {
    &-inner {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    &-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
</style>
