<template lang="pug">
  .user
    b-card.p-2.shadow(
      :title="user.first_name + ' ' + user.last_name"
      :img-src="user.avatar"
      img-alt="Image"
      img-top
      tag="article"
      style="width: 21rem;"
      class="mb-5 shadow"
    )
      b-card-text.text-muted {{ user.email }}
      div.d-flex.flex-column
        div.d-flex
          b-button.rounded-pill.flex-grow-1(
            @click="editUser(user)"
            variant="primary"
          ) Edit
          b-button.rounded-pill.flex-grow-1.ml-1(
            @click="deleteUser(user)"
            variant="danger"
          ) Delete
        b-button.rounded-pill.flex-grow-1.mt-1(
          @click="close"
          variant="success"
        ) Return
</template>

<script>
  import { mapActions } from 'vuex';
  export default {
    name: 'User',
    props: ['id', 'user'],
    methods: {
      ...mapActions([
        'changeStateDeleteModal',
        'changeStateEditModal',
        'setPayloadDeleteModal',
        'setPayloadEditModal'
      ]),
      close(){
        this.$router.push({ path: '/users'});
      },
      deleteUser(user){
        this.changeStateDeleteModal(true);
        this.setPayloadDeleteModal(user);        
      },
      editUser(user){
        this.changeStateEditModal(true);
        this.setPayloadEditModal(user);
      },
    }
  }
</script>

<style lang="scss" scoped>
  .user {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-title {
    margin-bottom: 0;
  }
</style>