<template lang="pug">
  .task
    h3.mb-5.text-center.text-uppercase Тестовое задание на позицию 
      div.text-danger Vue.js Front-end developer
    section
      h4 Требования к работе:
      ul
        li Залить проект в открытый репозиторий и дать на него ссылку;
        li Развернуть проект на git pages или firebase(или любом другом хостинге);
    hr
    section
      h4 Стек:
      ul
        li Vue.js – использовать для развертывания vue-cli;
        li UI/UX – на ваше усмотрение, можно использовать любые UI – фреймворки(vuetify, bootstrap, etc...);
        li Vue router
        li Vuex
    hr
    section
      h4 API: 
      p В качестве REST API сервера использовать https://reqres.in/. Сервис предоставляет фейковый апи, его будет достаточно. 
      p Нужно учесть, что все post/put/delete запросы, сервис отвечает – но данные на сервере менятся не будут. Все данные меняем локально в рамках одной сессии.
    hr
    section
      h4 Задачи: 
      p Навигация: Главная страница и страница пользователей.
      p Главная страница: просто пустая страница.
      p Страница пользователей: /users – получаем список пользователей и выводим на страницу.
      ul
        li Добавить пагинацию
        li Карточка пользователя включает в себя
          ul
            li Фото
            li Имя
            li email
            li Кнопки: Удалить, Редактировать, Посмотреть
        li Кнопка добавления нового пользователя
      p При нажатии удалить — удаляем пользователя через API + локально удаляем.
      p При нажатии на редактировать – показываем модальное окно редактирование пользователя, отправляем данные через API + локально обновляем данные о пользователе.
    hr
    section
      h4 Модальное окно добавления и редактирования пользователя:
      ul
        li Имя – обязательное, минимум 3 символа, максимум 20(валидация по желанию)
        li Место работы – обязательное (валидация по желанию)
        li Пароль – обязательное, минимум 8 символов, максимум 20(валидация по желанию)
        li Подтверждения пароля – обязательное, точное совпадение с полем пароль. (валидация по желанию)
    hr
    section 
      h4 Страница пользователя:
      ul
        li user/id – получаем данные api, и выводим их в такую же карточку как и на странице всех пользователей, только без кнопки 'посмотреть'.
        li Для всех таких страниц реализовать следующие функции: 'удаление' и 'редактирование'.
    hr
    section
      h4 Бонус:
      ul
        li В панель навигации вывести последнего пользователя на которого мы переходили
        li Вывести лоудеры загрузки данных пока идут запросы, касает поулчаения всех пользователей(Тут можно в запрос добавить гет параметр delay=3, где 3 – это секунды ожидания запроса), добавления/редактирование пользователя(лоудер на форму), удаление.
        li Уведомление об успехе\провале выполнения операции.
        li Валидация данных формы.
</template>

<script>
  export default {
    name: "Setup"
  }
</script>

<style lang="scss">
  .task {    
    padding: 40px;
  }
</style>