<template lang="pug">
  .container.p-0
    b-navbar.shadow(type="dark" variant="dark")
      b-navbar-nav#nav
        b-nav-item(to="/")
          b-icon(class="mr-3" icon="pencil-square" scale="1.5" shift-v="1.5" aria-hidden="true")
          span Task
        b-nav-item(to="/users")
          b-icon(class="mr-3" icon="person-lines-fill" scale="1.5" shift-v="1.5" aria-hidden="true")
          span Users
        //- b-nav-item(to="/user/")
        //-   b-icon(class="mr-3" icon="person-lines-fill" scale="1.5" shift-v="1.5" aria-hidden="true")
        //-   span User
</template>

<script>
  export default {
    name: 'vHeader'
  }
</script>

<style lang="scss" scoped>
  li.nav-item{
    width: 50%;
  }
</style>