<template lang="pug">
  div.w-100 
    .d-flex.row.justify-content-center.align-items-center.m-0(v-if="users.length")
      template(v-if="pageUploading")
        b-card.p-2.mb-5.shadow(
          v-for="user in items"
          :key="user.id"
          tag="article"
          style="width: 21rem; height: 524px;"
        )
          .h-100.d-flex.flex-column.align-items-center.justify-content-center
            b-spinner(type="grow" style="width: 8rem; height: 8rem;")
            
      template(v-else)
        b-card.p-2.mb-5.shadow( 
          v-for="(user, index) in items"
          :key="user.id"
          :title="user.first_name + ' ' + user.last_name"
          :img-src="user.avatar"
          img-alt="Image"
          img-top
          tag="article"
          style="width: 21rem;"
        )
          b-card-text.text-muted {{ user.email }}
          div.d-flex.flex-column
            div.d-flex
              b-button.rounded-pill.flex-grow-1(
                @click="editUser(user)" 
                variant="primary"
              ) Edit
              b-button.rounded-pill.flex-grow-1.ml-1(
                @click="deleteUser(user)"
                variant="danger"
              ) Delete
            b-button.rounded-pill.flex-grow-1.mt-1(
              @click="openUser(user)" 
              variant="success"
            ) Watch
      div.w-100
        b-pagination(
          align="center"
          size="lg"
          pills 
          v-model="currentPage"
          :total-rows="users.length"
          :per-page="perPage"
          aria-controls="my-table"
          @change="loadEff"
        )
        h5.mt-3.text-muted Pagination data:
        b-table(
          id="my-table"
          :items="users"
          :per-page="perPage"
          :current-page="currentPage"
        )   
</template>

<script>
  import { mapActions } from 'vuex';
  export default {
    name: 'vPagination',
    props: {
      users: {
        type: Array,
        required: true
      }
    },
    computed: {
      items(){
        let from = (this.currentPage * this.perPage) - this.perPage;
        let to = (this.currentPage * this.perPage);
        return this.users.slice(from, to);
      }
    },
    data:() => ({
      pages: [],
      currentPage: 1,
      perPage: 3,
      pageUploading: true
    }),
    methods: {
      ...mapActions([        
        'changeStateEditModal',
        'changeStateDeleteModal',
        'setPayloadEditModal',
        'setPayloadDeleteModal'
      ]),
      openUser(user){
        this.$router.push({
          name: 'User',
          params: {
            id: user.id,
            user: user
          }
        });
      },
      deleteUser(user){
        this.changeStateDeleteModal(true);
        this.setPayloadDeleteModal(user);
      },
      editUser(user){
        this.changeStateEditModal(true);
        this.setPayloadEditModal(user);
      },
      loadEff(){
        this.pageUploading = true;
        setTimeout(() => {
          this.pageUploading = false;
        }, 1*1000);
      }
    },
    created(){
      this.loadEff();
    }
  }
</script>

<style lang="scss" scoped>
  .card-title {
    margin-bottom: 0;
  }
</style>