@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

button {
  cursor: pointer;
  &:disabled {
    cursor: default;
  }
  &:focus {
    outline: none;
  }
}

#app {
  min-height: 100vh;
  color: #2c3e50;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  

  display: flex;
  flex-flow: column;
  align-items: center;

  background-color: #e9ecef;
  background-image: url('assets/images/background-section.svg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#nav {
  padding: 0;
  width: 100%;

  a {
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;    
    color: #007bff;
    border-radius: 2em;
    &:hover {
      color: #0099cc;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
      text-decoration: none;
    }
    &.router-link-exact-active {
      color: #fff;
    }
    & + a {
      margin-left: 10px;
    }
  }
}

//table
.table th, .table td {
  max-width: 400px;
  white-space: nowrap; /* Отменяем перенос текста */
  overflow: hidden; /* Обрезаем содержимое */
  text-overflow: ellipsis; /* Многоточие */
}

// modal
.modal-body {
  padding: 40px !important;
}

//card
.card-img-top {
  width: 318px !important;
  height: 318px !important;
}

.card + .card {
  margin-left: 20px;
}

//avatar
.avatar-wrapper {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 20px auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 1px 1px 15px -5px black;
  transition: all .3s ease;
  &:hover{
    transform: scale(1.05);
    cursor: pointer;
  }
  &:hover .profile-pic{
    opacity: .5;
  }  
  .profile-pic {
    height: 100%;
    width: 100%;
    transition: all .3s ease;
  }
  .upload-button {
    position: absolute;
    top: 0; 
    left: 0;
    height: 100% !important;
    width: 100% !important;
    cursor: pointer;
  }
}