<template lang="pug">
  #app
    vHeader  
    vWindow
    editModal(v-if="editModalState" :editIsOpen="editModalState")
    deleteModal(v-if="deleteModalState" :deleteIsOpen="deleteModalState")
</template>

<script>
  import vHeader from './components/vHeader.vue';
  import vWindow from './components/vWindow.vue';
  import editModal from './components/modals/editModal.vue';
  import deleteModal from './components/modals/deleteModal.vue';

  import { mapGetters } from 'vuex';

  export default {
    name: 'app',
    computed: {
      ...mapGetters([
        'editModalState',
        'deleteModalState'
      ])
    },
    components: {
      vHeader,
      vWindow,
      editModal,
      deleteModal
    }
  }
</script>

<style lang="scss">
  @import "./src/_variables.scss";
</style>
